/* ============================= */
/* 1. Variabili globali e stili base */
/* ============================= */
:root { 
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
}

/* ============================= */
/* 2. Reset e layout base */
/* ============================= */

/* Questo resetta margini, padding e larghezza, e forza body e html ad occupare tutta la pagina */
html, body {
  margin: 0;
  width: 100%;
  background: white;
}
